@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/font/spaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Terapkan ke seluruh elemen */
* {
  font-family: "Space Grotesk", serif;
}
